.form {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  height: 15vmin;
}

.inputsss {
  border: 1px solid #b4b6cb;
  border-radius: 0;
  padding: 5%;
  width: 60%;
  font-size: 1.2em;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 50%;
  text-decoration: none;
  background: #dedee4;
  padding: 20px;
  display: inline-block;
  border: none;
}

.sendButton > i {
  color: #585d92;
  font-size: 15px;
}
